<html>
    <head>
        <title>Connection</title>
        <link rel="stylesheet" href="/css/style.css" >
    </head>  
    <body>
        <h1 style="text-align: center;">IT Academy</h1>
        <h2>Entrer votre pseudo</h2>
      <form action="/user/new" method="POST">
        <input type="text" name="pseudo" value="<%= pseudo %>" /><br />
        <input type="submit" name="save" value="Sauver" /><br />
      </form>
    </body>
</html>